@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Funnel+Display:wght@300..800&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fdfbd4;
    font-family: "Funnel Display", sans-serif;
    box-sizing: border-box;
}
li, a {
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: beige;
}

.nav_links{
    list-style: none;

}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    
}
.nav_links li a:hover{
    transition: all 0.3s ease 0s;
    color: gray;
}   
.main_front{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
}
.text{
    background-color: rgba(0,255,255,1);
    font-size: 100px;
    border-radius:10px ;
}
.text1{
    padding-left: 50%;
    font-size: 40px;
}
.wxy{
    font-size: 60px;
}
.Whatwedo{
    background-color: #D4FF32;
    height: 90px;
    width: 800px;
    padding-left: 100px;
    padding-left: 10px;
}
.doing{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 50px;
}
.whatwedocontainers{
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
}
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
  .cat{
    position: absolute;
    font-size: 90px;
    text-align: center;
    
  }
  .catagories {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
  }
  .lowerdiv{
    position: absolute;
    background-color: #D4FF32;
    width: 920px;
    height: 80px;
    left: 350px;
    top: 60px;
    border-radius:10px ;
  }
.catinfo{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.catinfo1{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: blanchedalmond;
    border-radius: 30px;

}
.catinfo2{
    display: flex;
    gap: 90px;
    padding-left: 320px;
    padding-bottom: 50px;

}
.lessexpence{
    background-color: #D4FF32;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    width: 78%;
}
.textless{
    font-size: 50px;
    padding-right: 30px;
}
.idk{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.keypoints{
    padding: 30px;
    font-size: 30px;
}
.temple{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.footer{
    height: 300px;
    background-color: #1e1e1e;
    padding: 0px;
}
.footer{
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 90px;
}
.contentfoot{
    position: absolute;
    font-size: 60px;
    color: aliceblue;
    padding-left: 130px;
    background-color: aqua;
    border-radius:10px ;
}
.lowerfoot{
    position: absolute;
    background-color: #D4FF32;
    width: 430px;
    height: 70px;
    left: 180px;
    top: 150px;
    border-radius:10px ;
    padding-right: 50px;
}

.contentfooteral{
    position: absolute;
    left: 1200px;
    font-size: 20px;
    border-radius: 10px;
    padding-right: 20px;
}
.gap2{
    width: 100%;
    height: 100px;
}

.lstex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}
.hello{
    padding-left: 50%;
    font-size: 20px;
    color: brown;
}
.gap6{
    width: 100%;
    height: 50px;
}
.idf1{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 25px;

}
.idf2{
    position: absolute;
    font-size: 25px;
    width: 350px;
    top: 10%;
    left: 10%;
}

.linktag{
    position: absolute;
}
.linktag1{
    color: red;
}
a:hover{
    color: blue;
}
.linktag1{
    position: absolute;
    top: 50%;
    left: 35%;
}